
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

div#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-control-zoom {
    display: none;
}

div.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 16px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 1000;
}